/* Banner */
.section-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  height: 500px;
  opacity: 0.9;

  h1 {
    color: map-get($colors, grey2);
    @include font-properties ('Prata', 80px);
    font-weight: bold;
    padding-top: 6%;
  }
}

.section-banner-home {
    background-image: url(../../assets/img/banners/banner-home.jpg);
}

.section-banner-nosotros {
    background-image: url(../../assets/img/banners/banner-nosotros.jpg);
}

.section-banner-contacto {
    background-image: url(../../assets/img/banners/banner-contacto.jpg);
}

.section-banner-cursos {
    background-image: url(../../assets/img/banners/banner-cursos.jpg);
}

.section-banner-meditaciones {
    background-image: url(../../assets/img/banners/banner-meditaciones.jpg);
}