/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex_center, .section-team, footer, .header-bar .header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_space-between, .header-bar .header-left,
.header-bar .header-right, .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*::selection {
  background-color: #52a186;
  color: #fff;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  background-color: #eee;
  color: #43484e;
}

.form-control:focus {
  color: pink;
  background-color: yellowgreen;
  border-color: violet;
  outline: 0;
  box-shadow: 0 0 0 0.25rem red;
}

/* Button */
.btn-outline-success {
  border-color: #52a186;
  color: #52a186;
}
.btn-outline-success:hover {
  background-color: #52a186;
  border-color: #52a186;
  color: #fff;
  transition: 2s linear;
}

/* Accordion */
.accordion-button {
  color: #52a186;
  background-color: #fff;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #52a186;
}

.accordion-body {
  text-align: justify;
}

/* Input text */
input[type=text] {
  border: none;
  font-size: 13px;
  padding-left: 10px;
  border-radius: 5px;
}

input:focus {
  border-color: #52a186;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
}

/* Header */
.header-bar {
  grid-area: header;
  background-color: #fff;
  color: #333;
}
.header-bar .header-left,
.header-bar .header-right {
  width: 20%;
}
.header-bar .header-center {
  width: 60%;
}

.navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #43484e;
  font-family: "Prata";
  font-size: 17px;
  letter-spacing: 4px;
}
.navbar-nav .nav-item .nav-link::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: -6px;
  margin-right: 5px;
  display: inline-block;
  background-color: #52a186;
  vertical-align: middle;
}
.navbar-nav .nav-item .nav-link.active {
  color: #52a186;
}

/* Main */
main {
  grid-area: main;
  background-color: light2;
  margin-bottom: 10px;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: #333;
  gap: 5px;
}
footer i {
  color: #fff;
  font-size: 20px;
}

/* Banner */
.section-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  height: 500px;
  opacity: 0.9;
}
.section-banner h1 {
  color: #333;
  font-family: "Prata";
  font-size: 80px;
  font-weight: bold;
  padding-top: 6%;
}

.section-banner-home {
  background-image: url(../../assets/img/banners/banner-home.jpg);
}

.section-banner-nosotros {
  background-image: url(../../assets/img/banners/banner-nosotros.jpg);
}

.section-banner-contacto {
  background-image: url(../../assets/img/banners/banner-contacto.jpg);
}

.section-banner-cursos {
  background-image: url(../../assets/img/banners/banner-cursos.jpg);
}

.section-banner-meditaciones {
  background-image: url(../../assets/img/banners/banner-meditaciones.jpg);
}

.section-page {
  text-align: center;
  margin: 56px 0px 40px 0;
}
.section-page .section-title {
  text-align: center;
}
.section-page .section-title h2 {
  font-family: "Pratta";
  font-size: 45px;
  text-transform: capitalize;
  margin: 36px 0px;
}
.section-page .section-title h6 {
  color: #52a186;
  font-family: "Amatic SC";
  font-size: 30px;
}
.section-page .section-title i {
  margin-right: 10px;
}
.section-page .section-texto p {
  font-size: 20px;
  line-height: 1.86;
  margin: 0px 400px 0px 400px;
  text-align: justify;
  text-justify: inter-word;
}

.section-center {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/* Page index > Section Newsletter */
.section-newsletter {
  width: 100%;
  background-color: #f3f5f6;
  padding: 20px;
  margin-bottom: 10px;
}
.section-newsletter label {
  height: 30px;
  color: #444851;
}
.section-newsletter input[type=text] {
  height: 30px;
  width: 500px;
}

/* Page index > Section Testimonios */
.carousel .carousel-item {
  height: 500px;
}

.carousel-caption {
  top: 0;
  bottom: auto;
  color: #444851;
  font-family: "Prata";
  font-size: 17px;
}
.carousel-caption h5 {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.8;
}
.carousel-caption p {
  font-size: 18px;
  opacity: 0.6;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.section-team {
  background-color: #f9f9f9;
  padding: 1rem;
  gap: 1rem;
}
.section-team .card-team {
  background-color: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.section-team .card-team p {
  color: #52a186;
  font-family: "Amatic SC";
  font-size: 30px;
  letter-spacing: 2.5px;
}
.section-team .card-team:hover {
  animation: aparecer 4s;
}

@keyframes aparecer {
  0% {
    border-radius: 8 8 8 8;
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: #333;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1170px) {
  .navbar-nav .nav-item .nav-link {
    font-family: "Prata";
    font-size: 16px;
    letter-spacing: 2px;
  }
}
@media (max-width: 990px) {
  .navbar-nav .nav-item .nav-link {
    font-family: "Prata";
    font-size: 15px;
    letter-spacing: 2px;
  }
  .navbar-nav .nav-item .nav-link::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: -6px;
    margin-right: 5px;
    display: inline-block;
    background-color: #52a186;
    vertical-align: middle;
  }
}
@media (max-width: 990px) {
  .navbar-nav .nav-item .nav-link::before {
    content: none;
    display: none;
  }
}
@media (max-width: 820px) {
  .section-newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .section-newsletter form input[type=text] {
    width: 280px;
  }
  .section-newsletter form .btn {
    width: 280px;
  }
}

/*# sourceMappingURL=estilos.css.map */
