*::selection {
  background-color: map-get($colors, green1);
  color: map-get($colors, light1);
}

body {
  @include font-properties ('Montserrat', 14px);
  font-weight: 400;
  background-color: map-get($colors, light2);
  color: map-get($colors, grey1);
}