//Menu
@media (max-width: 991px) {

    .header-left,
    .header-right,
    .navbar-collapse {
        display: none !important;
    }

    .header-bar {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        z-index: 1000;
        background-color: map-get($colors, light1);
        position: relative;
    }

    .navbar-brand img {
        max-height: 60px;
    }

    .navbar-toggler {
        z-index: 1010;
        margin-left: 10px;
    }

    .offcanvas {
        background-color: map-get($colors, light1);
    }

    .offcanvas .nav-link {
        font-family: "Prata";
        font-size: 18px;
        color: map-get($colors, grey1);
        padding: 10px;
    }

    .offcanvas .nav-link.active,
    .offcanvas .nav-link:hover {
        color: map-get($colors, green1);
        background-color: map-get($colors, light3);
    }

    main {
        margin-top: 10px;
    }

    .section-newsletter {
        z-index: 1;
        position: relative;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        gap: 20px;
    }

    .nav-link {
        font-family: "Prata";
        font-size: 17px;
        letter-spacing: 2px;
    }

    .navbar-nav .nav-link::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-top: -6px;
        margin-right: 5px;
        display: inline-block;
        background-color: map-get($colors, green1);
        vertical-align: middle;
    }

    .navbar-nav .nav-link.active {
        color: map-get($colors, green1);
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .navbar-nav .nav-item .nav-link {
        font-size: 15px;
        letter-spacing: 0px;
    }
}

//Index > Newsletter
@media (max-width: 820px) {
    .section-newsletter {
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input[type="text"] {
                width: 280px;
            }

            .btn {
                width: 280px;
            }
        }

    }
}

//Page Nosotros
@media (max-width: 768px) {
  /* Banner */
  .section-banner {
    height: 300px;
  }
  .section-banner h1 {
    font-size: 40px;
    padding-top: 25%;
  }

  /* Texto de presentación */
  .section-page .section-texto p {
    font-size: 16px;
    margin: 0 20px;
    text-align: justify;
  }

  /* Título de sección */
  .section-page .section-title h2 {
    font-size: 28px;
  }

  .section-page .section-title h6 {
    font-size: 22px;
  }

  /* Cards del equipo */
  .section-team {
    flex-direction: column;
    align-items: center;
  }

  .section-team .card-team {
    width: 90%;
    max-width: 320px;
  }
}
